<div class="container-xl p-3 my-3 bg-warning text-danger">
  <h1>My off the 'Rails' diary app</h1>

  <p><%= link_to("View my entries", entries_path) %></p>
</div>

<img src="https://miro.medium.com/max/600/1*ZpB4NIQ1BrKTReRF5b0yFw.png" class="img-fluid" />